<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Test XSS</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Test XSS</h1>
  <form method="POST" action="/test-xss">
    <label for="comment">Commentaire:</label>
    <input type="text" id="comment" name="comment" required />
    <button type="submit">Envoyer</button>
  </form>
  {% if success %}
    <p id="user-comment">
      {{ success }}
    </p>
  {% endif %}
</body>
</html>
